# Homework 1 - IST 462 #

Student name: Xibo Xu

Complete the following tasks in the cells provided. If you need additional cells, please add them. To submit your solution download the notebook as a .ipynb file to your local computer system and print to PDF and submit them via Blackboard (both .ipynb and PDF must be submitted).

1. Create a string called *myfirstname* and store your first name in it (5 points)

In [ ]:
myfirstname = "Xibo"
myfirstname

'Xibo'

2. Create a string called *mylastname* and store your last name in it (5 points)

In [ ]:
mylastname = "Xu"
mylastname

'Xu'

3. Create a string called *myname* that concatenates the strings *myfirstname* and *mylastname* that you created previously (5 points)

In [ ]:
myname = myfirstname + " " + mylastname
myname

'Xibo Xu'

4. Use the appropriate methods seen in the class session to do the following on the string *myname*:

4a. Print out the number of characters (i.e. the length) that make up *myname* (5 points)

In [ ]:
len(myname)

7

4b. Derive a substring composed of the letters in positions 2 to 5 from *myname*. The characters in positions 2 and 5 must be included (5 points)

In [ ]:
submyname = myname[2:6]
submyname

'bo X'

4c. Choose a letter that is present in myname and replace it with the character X (5 points)

In [ ]:
mynewname = myname.replace('b','X')
mynewname

'XiXo Xu'

5. Create a list called *WeekDays* that contains the names of the day of the week. (10 points)

In [ ]:
WeekDays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
WeekDays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

6. Create a dictionary that uses the course numbers of the courses you are taking this semester as the keys of the dictionary and for each key associate as its value the name of the course. As an example for IST 462, the entry would be    *462 : Scripting for Data Analysis* (30 points)

In [ ]:
Crouses = {
    343 : "Data in Society",
    345 : "Managing Info System Projects",
    407 : "Data Mining",
    462 : "Scripting for Data Analysis",
    331 : "1st Crouse of Linear Algebra"
}
Crouses

{343: 'Data in Society',
 345: 'Managing Info System Projects',
 407: 'Data Mining',
 462: 'Scripting for Data Analysis',
 331: '1st Crouse of Linear Algebra'}

7. Do some research on how to use Markdown commands and write the text of the first three sections of your resume (example: education, objectives, past experience, etc.). You can use the following resource to learn about Markdown:
- https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd
- Short video: https://www.youtube.com/watch?v=uVLzL5E-YBM
- Long video/tutorial: https://www.youtube.com/watch?v=mTIifW_LU5s

(30 points)