<a href="https://colab.research.google.com/github/xiborxu/IST462xibo/blob/main/HW2_IST462_Fall2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework 2 - IST 462 ##

Student name:

---
### Questions

#### ( 1 ) Given a list of non-empty tuples, write a sort expression that will sort in increasing order by the last element in each tuple.
for eample:
- [(1, 7), (1, 3), (3, 4, 5), (2, 2), (9)]

yields
- [(2, 2), (1, 3), (3, 4, 5), (1, 7), (9)]


<b> 2 Examples </b>

Define at least two lists with tuples of different lengths and show the same sort expression executing against both lists.

[10 points]

In [8]:
# List #1
# Enter your code here, printing relevant answers to console:
my_first_list = [# build a list with tuple
    (1,5,6),
    (4,2,0),
    (2,5,1),
    (4,5,8),
    (9,) # if there is no comma, it is an int; add a comma and it will become a tuple
    ]

my_first_list_sorted = sorted(my_first_list, key = lambda item: item[-1], reverse = False) # lambda creates a small function
my_first_list_sorted   # sorted function sort the list; key to decide which element to sort # find the last items in each tuple

[(4, 2, 0), (2, 5, 1), (1, 5, 6), (4, 5, 8), (9,)]

In [ ]:
# List #2
# Enter your code here, printing relevant answers to console:
my_second_list = [
    ('apple',),
    ('banana',),
    ('pear',)
]

my_second_list_sorted = sorted(my_second_list, key = lambda item: item[-1][-1], reverse = False)
my_second_list_sorted                                 # first[-1] to sorted by the last element in tuple
                                                      # second [-1] to sorted by the last character in last element

[('banana',), ('apple',), ('pear',)]

---
#### ( 2a ) Given the grades of 21 students in a class, write a program which will print to console:
- The maximum grade <b>and</b> the student(s) who recieved it
- The minimum grade <b>and</b> the student(s) who recieved it
- The average (mean) grade for the entire class


[10 points]

In [ ]:
# Enter your code here, printing relevant answers to console:

grades = [['Gary', 77],
          ['Albert', 70],
          ['Tina', 78],
          ['Ash', 91],
          ['Harsh', 92],
          ['Dmitri', 82],
          ['Geeta', 90],
          ['Tao', 79],
          ['Zhang', 85],
          ['Miguel', 100],
          ['Ashley', 92],
          ['Marta', 77],
          ['Jackson', 90],
          ['Freddy', 85],
          ['Li', 68],
          ['Albert', 75],
          ['Watson', 99],
          ['Juan', 91],
          ['Irina', 100],
          ['Nikhil', 94],
          ['Fred', 73],]

grade = []
for line in grades: # for loop to reterive the grade from list
  grade.append(int(line[1])) # use the grade to build a new list grade

max_grade = max(grade) # max function find the maximum value in the list
max_grade # in this case, the maximum grade is 100
grades[grade.index(max(grade))] # .index() function identify the index
                                # grade.index((max(grade))) in grade list, find the index of maximum grade

min_grade = min(grade)          # min() function find the minimum grade
grades[grade.index(min(grade))]

100

 ----

#### ( 2b )  Given the same grades as the previous question 2a, write a program which will print to console:
- The median grade and the student who recieved it
- For a refresher on what the Median is, please see here: https://www.mathsisfun.com/median.html

<b>NOTE:</b> Since this list has an odd number of entries, there will be 1 student who falls directly in the middle of the sorted list. There is no need to solve for a tie-break (i.e. averaging among two middle values).

[10 points]

In [ ]:
# Enter your code here, printing relevant answers to console:
grade_sorted = sorted(grade)

if len(grade_sorted)/2 == 0: # if function to determine whether there is even/odd number of value
  median = (grade_sorted[len(grade_sorted)//2] + grade_sorted[len(grade_sorted)//2 - 1])/2
  # if len/2 is 0, then it is a even number. Hence the median will be the sum middle two value by 2
else: # else it will be odd number
  median = grade_sorted[len(grade_sorted)//2] # the median will be the number in the middle

median_student = [] # set a new list of student

for line in grades:
  if line[1] == median: # check second elements of each line in grades function
                        # if that value is equal to median score, then he/she is the median student
    median_student.append(line) # add the line to the new list, which is median student info

median_student

[['Zhang', 85], ['Freddy', 85]]

---

#### ( 3 ) Given the following dictionary of people and their ages, print those dictionary items whose value is between 25 and 55 as a <u>sorted list</u> of strings in exactly the following format:
- <i>value-key, for instance:</i>
    - ...
    - '50-Harry'
    - '40-Ben'
    - ...
    - '22-Kelly'

[20 points]

In [ ]:
# Enter your code here, printing relevant answers to console:

age_dict = {'Harry': 50,
          'Berry': 21,
          'Tina': 23,
          'Akriti': 39,
          'Harsh': 68,
          'Ben': 40,
          'Geeta': 62,
          'Tao': 35,
          'Kelly': 26,
          'Miguel': 26,
          'Ashley': 27,
          'Marta': 44,
          'Jackson': 41,
          'Freddy': 17,
          'Lilly': 66,
          'Albert': 23,
          'Xi': 25,
          'Juan': 33,
          'Belle': 28,
          'Nikhil': 22,}

people_25_to_75 = [] # build a new list
for name,age in age_dict.items(): # list.items refers to each elements in the list; match them with name,age
  if age >= 25 and age <= 75: # the condition is age(second value) greater than 25 or less than 75
    people_25_to_75.append((name,age)) # add the values to list by conditions

people_25_to_75 = sorted(people_25_to_75, key = lambda item: item[1]) # now sorted the list by second items
people_25_to_75

for name, age in people_25_to_75: # now rewrite the values in the given format
  print(f"{age}-{name}")

25-Xi
26-Kelly
26-Miguel
27-Ashley
28-Belle
33-Juan
35-Tao
39-Akriti
40-Ben
41-Jackson
44-Marta
50-Harry
62-Geeta
66-Lilly
68-Harsh

#### ( 4a ) Using a loop (while or for) - write a program which generates the first 20 even squares.

- An even number is evenly divisible by 2 (i.e. with remainder 0)
- A square is a value which is yielded when it's square-root is multiplied by itself:
    - 4 is a square since it's equal to 2*2
    - 9 is a square since it's equal to 3*3
        - However, 9 is not even and should not be printed.
- Zero (0) <u>should not</u> be considered an even square
       
[10 points]

In [ ]:
# Enter your code here, printing relevant answers to console:
number = 0
count = 0 # give two variable, one for number, the other for count of the number used

for number in range(1,10000): # beginning from 1 to 10000, try the number one by one
  if number%2 == 0: # if the number/2 has no reminder, it is an even number
    even_square = number**2 # so it matches the condition, find its sqaure root
    count = count + 1 # so find a square root, count plus one
    print(even_square) # print the square root
  if count == 20: # by the question, we only want first 20 square root, so when count reaches 20, stop the loop
    break

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600

#### ( 4b ) Using a list comprehension - write a program which generates the first 10 odd squares.

- An odd number is not evenly divisible by 2 (i.e. with remainder 0):
    - 4 is a square since it's equal to 2*2
    - 9 is a square since it's equal to 3*3
        - However, 4 is not odd and should not be printed.
       
[10 points]

In [ ]:
# Enter your code here, printing relevant answers to console:
number = 0
count = 0 # same things above

for number in range(1,10000):
  if number%2 == 1: # this time is odd number, which mean number/2 has reminder of 1
    odd_square = number**2
    count = count + 1
    print(odd_square)
  if count == 10:
    break

1
9
25
49
81
121
169
225
289
361

#### ( 5 ) Print the following summary statistics from the dictionary of animals in a zoe.
##### NOTE --> key = specie | value = number of animals of that specie in zoe
-----------
- The distict number of species in the zoo
- The sum total number of animals of all types
- The average number of animals per specie
- The specie(s) with the most animal members
- The specie(s) with the least animal members

[30 points]

In [ ]:
from IPython.utils.openpy import strip_encoding_cookie
from genericpath import exists
# Enter your code here, printing relevant answers to console:
zoo_animals = {'giraffe':3,
              'elephant':8,
              'lion':6,
              'hippopotamus':2,
              'crocodile':6,
              'wild dog':10,
              'hyena':10,
              'zebra':11,
              'anaconda':31,
              'python':7,
              'kangaroo':30,
              'cheetah':3,
              'leopard':2,
               'polar bear': 1}

# distict number of species in the zoo
len(zoo_animals) # length of the list is the district number

# total number of animals
number = 0
for specie,value in zoo_animals.items(): # in zoo_animals list, find the second value(number)
  number = number + int(value) # add the value to total number
                                # in the list, that was a str, so need to change to a int
number

# average number of animals
average = number/len(zoo_animals) # average is the number of animals/number of district
average

# most animals members
max(zoo_animals.values()) # check the maximum value，which is 31
for specie, value in zoo_animals.items(): # now find the values
  if value == max(zoo_animals.values()): # if the value of certain line is 31, that is the specie I want
    most_animal = specie # assign the specie name to most_animals
most_animal

# least animals members:
min(zoo_animals.values())
for specie, value in zoo_animals.items():
  if value == min(zoo_animals.values()): # same as above, use minimum value this time
    least_animal = specie
least_animal

#zoo_animals[zoo_animals.values == max(zoo_animals.values())]

'polar bear'